body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    min-height: 100vh;
}

    .jugador button{
        width: 230px;
        height: 170px;
        margin: 0 15px;
    }
   .boot{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     margin-bottom: 25px;
    }
    .boot img{
        width: 200px;
        height: 150px;
        margin: 20px;
    }

