body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    min-height: 100vh;
}
    .inicio{
        position: absolute;
        background-color: white;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        border-radius: 20px;
        width: 45%;
        height: 35%;
        right: 27%;
        top: 25%;
    }
       .inicio input{
           margin: 13px;
           margin-bottom: 20px;
           width: 40%;
       }
       .inicio button{
        background-color: rgb(24, 192, 52);
           color: #fff;
           width: 20%;
           height: auto;
           font-size: 18px;
           border-radius: 10%;

       }
    .jugador button{
        width: 230px;
        height: 170px;
        margin: 0 15px;
    }
   .boot{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     margin-bottom: 25px;
    }
    .boot img{
        width: 200px;
        height: 150px;
        margin: 20px;
    }

